.top_page
  .top_page__header
    .top_page__header__inner
      %h1 コメント投稿ページ
    .list
      %ul.list__left
        
      %ul.list__right
        
          
.main
  .showmain
    .comment 
      .commentBox
        .commentContents
          

          .comments
            %h4.comments__post 投稿一覧
            .comments_scroll
              .comments_j_scroll
                
                .comments__area
                  %ul.comments__area__creater
                    %li.comments__area__creater__email
                      
                    %li.comments__area__creater__date
                      
                .comments__content
                  
                  .comments__content__like__icons
                    %ul.content__like__icons
                      
                .comments__separation
                    
              .comments_page
                
              .comments_link
                
